* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Source Sans Pro;
    scroll-behavior: smooth;
    color:#5a5956;
    background: #ffffff;
}
a {
    text-decoration: none;
    color:#5a5956;
}

/* Formatação do header fixo */

.bg-nav {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
}
.nav {
    max-width: 1024px;
    min-height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title a {
    font-size: 1.75em;
    font-weight: 500;
    color:#5a5956;
    padding: 10px;
}
.title span {
    color:#a1c1da;
    padding: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.menu a {
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;
}

@media (max-width:580px) {
    .menu a {
        margin: 5px;
    }
}

/* Formatação da seção principal */

.bg-principal {
    width: 100%;
    height: 665px;
    background-image: url("/img/img-fundo.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
}
.principal-titulo {
    background: rgba(20,168,145,.8);
    padding: 50px;
    border: 1px solid rgba(155,252,249,255);
    margin: 10px;
}
.principal-titulo h1 {
    font-size: 3em;
    text-align:center;
    margin: 10px;
    color:#ffffff;
}
.principal-titulo p {
    text-align: center;
    font-size: 2em;
    margin:10px;
    color:#ffffff;
}

/* Formatação da seção bem-vindo */

.bg-bemvindo {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bemvindo-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bemvindo-imagens figure {
    margin: 10px;
}

.bemvindo-imagens figure figcaption {
    text-transform: uppercase;
    text-align:center;
    font-weight: 700;
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #437871;
}

.bemvindo-imagens figure img {
    max-width: 300px;
}

/* Formatação da seção rota */

iframe {
    width: 100%;    
}

/*formatacao da guia sobre */

.bg-sobre {
    max-width: 980px;
    margin: 0 auto;
}

.sobre-qualidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.qualidade {
    display: flex;
    width: 450px;
    margin:20px;
    justify-content: space-between;
}
.qualidade h4 {
    margin:10px;
    font-size:1.25em;
    font-weight: 700;
}
.qualidade p {
    margin: 10px;
}
.qualidade img {
    max-width: 100px;
    height: 130px;
    object-fit:cover;
}

/* Formatação do rodapé */

.bg-rodape {
    width: 100%;
    background: #49997c;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    color:#ffffff;
}
.rodape-informacao {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 2px solid #3f8e71;
}
.rodape-informacao a{
    color:#ffffff;
}
.rodape-informacao div {
    font-size: 1.25em;
    max-width: 230px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding:15px;
    flex: 1 1 auto;
}

.rodape-asign {
    font-size: 1.25em;
    font-weight: 700;
    margin: 10px;
}
.icone {
    padding-left: 35px;
    background: no-repeat left center;
    text-decoration: none;
}
.icone.end {
    background-image:url(/img/icones/endereco.png);
}
.icone.tel {
    background-image: url(/img/icones/telefone.png);
}
.icone.res {
    background-image: url(/img/icones/calendario.png);
}


/*Formatacoes das classes reutilizadas*/
.secao {
    max-width: 980px;
    margin: 10px auto;
}


.informacoes {
    text-align: center;
    align-self: center;
    padding: 30px;
}
.informacoes h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25em;
    margin:20px;
}
.informacoes p {
    font-size: 1.25em;
    margin:20px;
}


.quarto-imagem figure {
    margin: 10px;
    width: 300px;
    display: flex;
}
.quarto-imagem img {
    width: 100%;
    margin: 10px;
}

.caracteristica {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}
.caracteristica li {
    margin: 30px;
    
}

.strong {
    font-weight: 700;
}
